@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600");
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #0fc9e7;
  border: 0;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #0ca1b9;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(15, 201, 231, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #0fc9e7; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375rem;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375rem; }

input,
select,
textarea {
  display: block;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #0fc9e7;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(15, 201, 231, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(15, 201, 231, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #858585; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::-ms-input-placeholder, [type='date']::-ms-input-placeholder, [type='datetime']::-ms-input-placeholder, [type='datetime-local']::-ms-input-placeholder, [type='email']::-ms-input-placeholder, [type='month']::-ms-input-placeholder, [type='number']::-ms-input-placeholder, [type='password']::-ms-input-placeholder, [type='search']::-ms-input-placeholder, [type='tel']::-ms-input-placeholder, [type='text']::-ms-input-placeholder, [type='time']::-ms-input-placeholder, [type='url']::-ms-input-placeholder, [type='week']::-ms-input-placeholder, input:not([type])::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375rem; }

[type="file"] {
  margin-bottom: 0.75rem;
  width: 100%; }

select {
  margin-bottom: 0.75rem;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(15, 201, 231, 0.6);
  outline-offset: 2px; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.5;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75rem 0.75rem 0.75rem 0; }

html {
  color: #333;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0 0 0.75rem; }

p {
  margin: 0 0 0.75rem; }

a {
  color: #0fc9e7;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:hover {
    color: #0b97ad; }
  a:focus {
    outline: 3px solid rgba(15, 201, 231, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5rem 0; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }

body {
  font-size: 10pt;
  color: black; }

header .portrait {
  float: left;
  height: 2cm;
  width: auto; }

header h1 {
  font-weight: 300;
  font-size: 19.53125pt;
  margin: 0 0 0 2cm; }

header h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin: 0 0 0 2cm; }

header .contact {
  margin: 5pt 0 10pt 2cm;
  border-top: 0.5pt solid #ddd;
  padding-top: 4pt; }

header .contact li {
  display: inline-block; }
  header .contact li:not(:last-child)::after {
    content: "•";
    margin-left: 0.5em;
    margin-right: 0.25em;
    color: #ddd; }

header a {
  color: #999;
  text-decoration: none; }

header .icon {
  margin-right: 0.5em; }
  header .icon path {
    fill: #999; }

main {
  padding-left: 2cm; }

.intro {
  margin: 0 1cm 15pt 0; }
  .intro p {
    font-size: 12.5pt; }
  .intro em {
    font-weight: 600;
    font-style: normal; }
  .intro ul {
    margin: 0; }
  .intro li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300; }
    .intro li:not(:last-child)::after {
      content: "•";
      margin-left: 0.5em;
      margin-right: 0.25em;
      color: #ddd; }

.employment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-row;
          flex-direction: flex-row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1cm -1cm 1cm 0; }
  .employment .job {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    margin: 0 1cm 15pt 0; }
    .employment .job .dates {
      font-size: 8pt;
      display: inline-block;
      border-top: 3pt solid #ddd;
      padding-top: 3pt; }
    .employment .job h3 {
      font-size: 12.5pt;
      font-weight: 300;
      margin: 0; }
    .employment .job h4 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 300;
      margin: 0 0 10pt;
      font-size: 8pt;
      color: #e41f7b; }
      .employment .job h4 small {
        font-size: 100%;
        color: #999; }
    .employment .job li {
      padding-left: 1em;
      text-indent: -1em; }
    .employment .job .skills {
      margin-top: 10pt;
      font-size: 6.4pt;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 300;
      color: #999; }
    .employment .job:first-child .dates {
      border-top-color: #e41f7b; }

.qualifications {
  float: left;
  width: 50%;
  padding-right: 5mm; }
  .qualifications dt {
    font-weight: 300;
    font-size: 12.5pt;
    margin: 0; }
  .qualifications dd {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    margin: 0 0 10pt;
    color: #999; }

.interests {
  margin-left: 50%;
  padding-left: 5mm; }
  .interests li {
    margin: 0 0 10pt;
    padding-left: 1em;
    text-indent: -1em;
    font-size: 8pt; }

footer {
  position: absolute;
  left: 2cm;
  right: 0;
  bottom: 0;
  font-size: 8pt; }
  footer::before {
    content: "";
    display: block;
    width: 1cm;
    height: 0;
    margin: 0 0 10pt;
    border-top: 3pt solid #ddd; }
  footer p {
    margin: 5pt 0 0 0; }
