header {
  margin: 0 $base-spacing $base-spacing;

  .header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .portrait {
    display: block;
    width: 12em;
    height: auto;
    margin: $base-spacing 0 (-$base-spacing);
  }

  h1 {
    font-weight: 300;
    font-size: modular-scale(4);
    text-rendering: optimizeLegibility;
    margin: 0;
    color: $black;
  }

  h2 {
    font-size: modular-scale(1);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin: 0 0 $small-spacing;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $accent-color;
  }

  .contact {
    text-align: center;

    li, a {
      display: inline-block;
      white-space: nowrap;
    }

    a {
      color: inherit;
      text-decoration: none;
      margin-right: 1em;
    }

    @include desktop {
      li, a {
        display: block;
        margin: 0;
      }
    }
  }

  .icon {
    margin-right: 0.5em;

    path {
      fill: $accent-color;
    }
  }

  @include desktop {
    position: relative;

    > .header-inner {
      position: fixed;
      width: 20em;
    }
  }
}
