.intro {
  padding: 0 $base-spacing $base-spacing;
  margin: 0;
  font-size: modular-scale(1);
  color: $black;

  p {
    line-height: 2;
    margin: 0;
  }

  em {
    font-style: normal;
    color: $accent-color;
  }

  @include desktop {
    font-size: modular-scale(2);
    padding-top: 9.5em;
  }
}
